* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Montserrat;
    transition: all 0.5s;
}

html {
    scroll-behavior: smooth;
}

.body {
    margin: 0 auto;
}

@media (max-width: 1000px) {
    .footer .contacts {
        flex-direction: column;
    }

    .footer .contactItem {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .header .navigator {
        display: none;
    }

    .header .burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        height: 40px;
        width: 40px;
    }

    .header .burger:hover {
        cursor: pointer;
    }

    .burger .lineUp,
    .burger .lineDown {
        border-bottom: 1px solid #181C29;
        width: 20px;
    }

    .zerogap {
        gap: 0 !important;
    }

    .rotate__right {
        transform: rotate(45deg);
        transition: 1s;
    }

    .rotate__left {
        transform: rotate(-45deg);
        transition: 1s;
    }

    .burgerMenu {
        position: absolute;
        z-index: 1;
        width: 100vw;
        height: calc(100vh - 20px);
        background-color: #FFFFFF;
        right: 0;
        top: 50px;
        transition: 1s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .burgerMenu ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .burgerMenu li {
        list-style: none;
        color: #181C29;
        padding: 12px 20px;
        font-size: 24px;
        line-height: 152%;
        letter-spacing: 3px;
        text-align: center;
        font-weight: 600;
        border-radius: 20px;
    }

    .burgerMenu ul li:first-child {
        background: #FF46461A;
    }

    .body .scrollToTop {
        width: 56px;
        height: 56px;
        background: #FFFFFF;
        border-radius: 50%;
        border: 1px solid #FF4646;
        color: #FF4646;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 8px;
        bottom: 8px;
    }

    .hide {
        display: none !important;
    }
}

@media (max-width:430px) {
    .presents .buttons {
        gap: 0;
    }

    .buttons .choseSection {
        padding: 12px 8px;
    }

    .burgerMenu {
        padding-top: 242px;
    }
}

@media (hover:hover) {
    .navigator a:hover {
        color: #FF4646;
        background: #FF46461A;
    }

    .choseSection:hover {
        cursor: pointer;
        background: #FFFFFF66;
    }

    .presentItem:hover {
        cursor: pointer;
    }

    .presentItem:hover .presentInfo {
        color: #FF4646;
    }

    .contactItem:hover {
        cursor: pointer;
    }

    .contactItem:hover .contactsInfo,
    .contactItem:hover .contactsName {
        color: #FF4646;
    }

    .socialItem:hover {
        color: #FF4646;
        cursor: pointer;
    }

    .links .welcome:hover {
        color: #FF4646;
    }

    .select:hover {
        cursor: default;
    }
}

.hidden {
    width: 0;
    overflow: hidden;
}

.header {
    margin: 0 auto;
    padding: 0 8px;
    align-items: center;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #181C29;
    font-size: 12px;
    letter-spacing: 0.8px;
    font-weight: 500;
}

.frame {
    max-width: 1274px;
    flex-basis: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.frame a {
    text-decoration: none;
    color: #181C29;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-right: 8px;
    gap: 6px;
}

.navigator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6px;
}

.navigator a {
    padding: 12px 20px;
    border-radius: 12px;
    transition: color 1s, background 1s;
}

.burger {
    display: none;
}

.presents {
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF4646;
    background-image: url(../images/bg-garland.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    border-radius: 20px;
}

.presents .wrapper {
    margin: 0 auto;
    max-width: 1276px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title {
    text-transform: uppercase;
    letter-spacing: 5.5px;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    text-align: center;
    max-width: 426px;
    color: #FFFFFF;
}

.buttons {
    max-width: 474px;
    display: flex;
    justify-content: center;
    gap: 8px;
    white-space: nowrap;
}

.choseSection {
    padding: 12px 20px;
    color: #FFFFFF;
    border-radius: 12px;
    border: none;
    background: transparent;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.8px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.presentItem {
    background: #ECF3F8;
    border-radius: 20px;
    height: 342px;
    width: 310px;
}

.presentInfo {
    padding: 19px;
    background: #FFFFFF;
    border-radius: 20px;
    color: #181C29;
    text-transform: uppercase;
    height: 110px;
    transition: color 1s;
}

.presentInfo div:first-child,
.forWhat,
.superHeader {
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 1px;
    margin-bottom: 9px;
    text-transform: uppercase;
}

.presentInfo div:last-child,
.giftName {
    font-size: 16px;
    line-height: 152%;
    letter-spacing: 1.5px;
    font-weight: 500;
    text-transform: uppercase;
}

.footer {
    margin: 0 auto;
    padding: 58px 8px;
    max-width: 1440px;
}

.footer .wrapper {
    max-width: 1276px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.contacts {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
}

.contactItem {
    background: #ECF3F8;
    border-radius: 20px;
    width: 33.3%;
    border: 1px solid transparent;
}

.contactItem>div {
    padding-top: 19px;
    padding-bottom: 19px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.contactsInfo {
    font-size: 24px;
    text-transform: uppercase;
    line-height: 152%;
    font-weight: 500;
    letter-spacing: 4px;
    color: #181C29;
    text-decoration: none;
    transition: color 1s;
}

.contactsName {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 152%;
    font-weight: 500;
    letter-spacing: 2px;
    color: #181C29;
    transition: color 1s;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.socials {
    display: flex;
    gap: 12px;
    font-size: 22px;
    color: #181C29;
}

.socialItem {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 1s;
}

.rights {
    font-size: 16px;
    line-height: 148%;
    color: #181C29;
}

.links .welcome {
    font-family: Allura;
    font-size: 24px;
    letter-spacing: 1px;
    color: #181C29;
    text-decoration: none;
    transition: color 2s;
}

.active {
    background: #FF46461A;
}

.select {
    background: #FFFFFF66;
}

.scrollToTop {
    display: none;
}
